* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: rgb(255, 241, 255);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    background-color: #B378FF;
    color: white;
    padding: 0.5rem;
    top: 0;
    width: 100%;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    color: white;
}

.search-user input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.search-user img, .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
.user-info {
    display: flex;

}
main {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
}

.container-principal {
    flex: 1;
    width: 80%;
    margin-left: 290px;
    overflow-x: hidden;



}

.logo {
    width: 160px;
}



.post-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #B378FF;
    background: #FFF;
    resize: vertical;
    justify-content:space-between ;
}

.post-container h3 {
    color:  #B378FF;
    font-size: x-large;
}
textarea {
   height: 150px;
}

.post-container button, .adicionarTarefa button {
    margin-top: 10px;
    width: 100px;
    background-color: #B378FF;
    color: white;
    border: none;
    padding: 6px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.feed {
    margin-top: 1rem;
    padding-bottom: 3rem;
    border-radius: 5px;
    overflow-y: auto;
}

.lateral {
    background-color: #ffffff;
    padding: 20px;
    border-right: 1px solid #B378FF;
    width: 250px;
    box-shadow: 0 0 5px rgba(181, 20, 255, 0.2);
    position: fixed;
    height: auto;


}

.lateral h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.agenda {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.agenda th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

.tarefas, .adicionarTarefa {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.adicionarTarefa input {
    padding: 8px;
    width: 100%;
    border: 1px solid #B378FF;
    border-radius: 4px;
    font-size: 14px;
}

.post {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.post-date {
    font-size: 14px;
    margin: 5px 0;
}

.post-container textarea {
    border: 1px solid #B378FF;
}

.post-actions button {
    background-color: transparent;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

h4 {
    color: #9c51ff;
}

@media screen and (max-width: 900px) {
    .search-user {
        display: none;
    }
}

@media screen and (max-width: 740px) {
    .lateral {
        display: none;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-principal {
        margin: 30px 0 0 0;
    }
    .post-container h3 {
        text-align: center;
    }
    
}
@media screen and (max-width: 492px) {
    .post-container {
        padding: 40px;
    }


    .post-container textarea {
        margin-top: 20px;
    }
}