* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../image/Backimg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom left;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;

}

.container-formulario {
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-right: 160px;
   margin-top: 80px;
   width: 500px;
   height: 650px;
   border-radius: 35px;
   background-color: #fff;
   border: 1px solid #B378FF;
}   

.cabecalho-fomulario {
    text-align: center;
    margin-top: 20px;
}

.cabecalho-fomulario p {
    font-size: 23px;
    font-weight: 500;
}

.main-formulario {
    width: 70%;
    margin: auto;
    margin-bottom: 80px;
}


.form-label { 
    color: #706273;
    font-size: 18px
}

.link-referencia {
    text-decoration: none;
    color: #706273;
}

.main-container-about {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 50px;
}

.btn-login {
    background-color: #fff;
    color: #B378FF;
    width: 100px;
    margin: 15px;
}

.section-about {
    display: flex;
    margin-top: 70px;
    gap: 50px;
}

.conteudo-escrito {
    color: #fff;
    font-weight: 700;
}

.conteudo-escrito-paragrafo {
    color: #fff;
    font-size: 22px;
    margin-top: 0;
    font-style: italic;
}

.titulo-info {
    color: #fff;
}

.paragrafo-info {
    color: #fff;
    font-style: italic;
    font-size: 19px;
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    .container-formulario {
        overflow: auto;
    }
}