* {
    margin: 0;
    padding: 0;    
}

body {
    background-image: url(../image/background-about.svg); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    background-position: left;


}

.logo {
    width: 200px;
}


.section-about div img {
    height: 80px;
    animation: animacaoIcones 2s infinite alternate;
    margin-bottom: 20px;
}

@keyframes animacaoIcones {
    0% {
        transform: scale(1); 
      }
    100% {
        transform: scale(1.2); 
      }
}

.cabecalho-about {
    display: flex; 
    justify-content: space-between;
    margin: 22px 40px 0 40px;

}
.container-about h2 {
    white-space: nowrap;
    letter-spacing: 2px; 
    animation: animacaoEscrita 1s steps(16, end) forwards; 
}

@keyframes animacaoEscrita {
    0% {
        width: 0; 
    }
    100% {
        width: 100%; 
    }
}

.cabecalho-about a {
    border-radius: 15px;
    border: 1px solid #faf2ff;
    padding: 10px 25px 10px 25px;
    color:white;
    text-decoration: none;
}

.cabecalho-about a:hover {
   background-color:#faf2ff ;
   color: #B378FF ;
}

.container-about {
    display: flex;
    flex-direction: column;
    margin:90px 40px 0 40px;
}

.container-about .section-frases {
    width: max-content;
}

.container-about h1, .container-about h2 {
    color: #fff;
    font-weight: 700;
}

.container-about p {
    color: #fff;
    font-size: 22px;
    font-style: italic;
}

#botao-conectar{
    width: 250px ;
    height: 45px; 
    font-size: 18px; 
    border-radius: 17px;
    color: #fff;
    border: 1px solid #fff ;
}

#botao-conectar:hover{
    background-color: #faf2ff ;
    color: #B378FF ;
}

.section-about {
    display: flex;
    margin-top: 60px;
    gap: 50px;
}


@media screen  and (max-width: 720px) {
     .section-about {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
 
     .section-about div {
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     
 }

 @media screen and (max-width: 650px) {
    body {
        overflow-x: hidden;

    }
    header {
        gap:80px;
    }

    .logo {
        width: 190px;
    }

}

@media screen and (max-width: 380px) {
    header {
        gap:80px;
    }

}