* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 
}

body {
    background-image: url(../image/Backimg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom left;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    height: 100vh; 
    overflow: hidden;
}


.container-formulario {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   width: 400px;
   height: 550px;
   border-radius: 35px;
   background-color: #fff;
   border: 1px solid #B378FF;
   margin: 2rem;


}   

.cabecalho-fomulario {
    text-align: center;
}

.cabecalho-fomulario p {
    font-size: 1rem;
    font-weight: 500;
}

.main-formulario {
    width: 80%;
}

.form-label, .link-referencia, a { 
    text-decoration: none;
    color: #706273;
}

a:hover {
    color: #B378FF;
}
.link-referencia {
    text-align: center;
}
.img-formulario {
    display: none;
}
.cabecalho-about {
    display: flex; 
    justify-content: space-between;
    margin-top: 15px;
}
.cabecalho-about h2 {
    margin-left: 50px;
}
.cabecalho-about a {
    margin-right: 50px;
    border-radius: 15px;
    border: 1px solid #faf2ff;
    padding: 10px 25px 10px 25px;
    color:white
}

/* SOBRE */
.container-about {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 50px;
}

.container-about h1, .container-about h2 {
    color: #fff;
    font-weight: 700;
}

.container-about p {
    color: #fff;
    font-size: 22px;
    font-style: italic;
}

#botao-conectar{
    width: 250px ;
    height: 45px; 
    font-size: 18px; 
    border-radius: 17px;
    color: #fff;
    border: 1px solid #fff ;
}

#botao-conectar:hover{
    background-color: #faf2ff ;
    color: #B378FF ;
}


.btn-login {
    background-color: #fff;
    color: #B378FF;
    width: 100px;
    margin: 15px;
}

.section-about {
    display: flex;
    margin-top: 70px;
    gap: 50px;
}




.main-formulario input {
    border: 1px solid #B378FF; 
    border-radius: 15px; 
    height: 45px;
}

.main-formulario input:focus {
    border: 1px solid #B378FF; 
    box-shadow: none;
    background-color: #faf2ff ;
}

#botao-formulario {
    width: 200px;
    color: #B378FF;
    border: 1px solid #B378FF ;
    
   
}

#botao-formulario:hover {
    background-color: #B378FF;
    color: white;
}
.col-12 {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.link-esqueceuSenha {
    bottom: 0;
}


.container-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-formulario p {
    text-align: center; 
    color: #B378FF;
}
@media screen and (min-height: 1080px) {
    .container-formulario {
        width: 500px;
        height: 650px;

    }
    .img-formulario {
        display: block;
        width: 170px;
    }
}


@media screen and (max-width: 760px) {
    body {
        display: flex;
        justify-content: center;
    }
    .container-formulario {
        width: 80%;
        height: 92%;
    }
    .img-formulario {
        display: block;
        width: 195px;
    }
}

@media screen  and (max-width: 720px) {
   * {
        overflow:visible ; 
    }
    .section-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-about div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

@media screen and (max-height: 700px) {
    .img-formulario {
        display: none;
    }
}

@media screen and (max-height: 490px) {
    .img-formulario {
        display: none;
    }
    .logincmGmail {
        display: none;
    }
}

@media screen and (max-height: 555px), screen and (max-width: 300px) {
    .container-formulario {
        width: 95%;
        height: 90%;
        margin: 10px;
    }

}
@media screen and (max-width: 200px) {
    body {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
    }
    .container-formulario {
            height: 55%;
            margin: 10px;
    }
    .container-formulario p {
            display: none;
    }
    .img-formulario,
    .logincmGmail {
            display: none;
        }
    form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    }
    .link-cadastre-se {
            position: absolute;
            bottom: 0;
    }
    }


