* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow:hidden ;  
}

body {
    background-image: url(../image/Backimg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom left;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    height: 100vh; 
    overflow: hidden;


}

.container-formulario {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   width: 400px;
   height: 550px;
   border-radius: 35px;
   background-color: #fff;
   border: 1px solid #B378FF;
   margin: 2rem;


}   

.cabecalho-fomulario {
    text-align: center;
}

.cabecalho-fomulario p {
    font-size: 1rem;
    font-weight: 500;
}

.main-formulario {
    width: 80%;
}

.form-label, .link-referencia, a { 
    text-decoration: none;
    color: #706273;
}

a:hover {
    color: #B378FF;
}
.link-referencia {
    text-align: center;
}
.img-formulario {
    display: none;
}

.main-container-about {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 50px;
}

.btn-login {
    background-color: #fff;
    color: #B378FF;
    width: 100px;
    margin: 15px;
}

.section-about {
    display: flex;
    margin-top: 70px;
    gap: 50px;
}

.conteudo-escrito {
    color: #fff;
    font-weight: 700;
}

.conteudo-escrito-paragrafo {
    color: #fff;
    font-size: 22px;
    margin-top: 0;
    font-style: italic;
}

.titulo-info {
    color: #fff;
}

.paragrafo-info {
    color: #fff;
    font-style: italic;
    font-size: 19px;
    font-weight: 600;
}

.main-formulario input {
    border: 1px solid #B378FF; 
    border-radius: 15px; 
    height: 45px;
}

.main-formulario input:focus {
    border: 1px solid #B378FF; 
    box-shadow: none;
    background-color: #faf2ff ;
}

#botao-formulario {
    width: 200px;
    color: #B378FF;
    border: 1px solid #B378FF ;
    
   
}

#botao-formulario:hover {
    background-color: #B378FF;
    color: white;
}
.col-12 {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.link-esqueceuSenha {
    bottom: 0;
}


.container-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: center; 
    color: #B378FF;
}

@media screen and (max-width: 700px) {
    body {
        display: flex;
        justify-content: center;
    }
    .container-formulario {
        width: 80%;
        height: 92%;
    }
    .img-formulario {
        display: block;
        width: 195px;
    }
}

@media screen and (max-height: 600px) {
    .img-formulario {
        display: none;
    }
}

@media screen and (max-height: 555px), screen and (max-width: 300px) {
    .container-formulario {
        width: 95%;
        height: 90%;
        margin: 10px;
        border-radius: 15px;
    }

@media screen and (max-width: 300px) {
    body {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
    }
    .container-formulario {
            height: 55%;
            margin: 10px;
    }
    .container-formulario p {
            display: none;
    }
    .img-formulario,
    .logincmGmail {
            display: none;
        }
    form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    }
    .link-cadastre-se {
            position: absolute;
            bottom: 0;
    }
    }
}

