.estilo_pagina {
  background-color: #0D0117;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formulario_container {
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 2px solid #B378FF; 
  box-shadow: 0px 0px 20px rgba(2, 0, 102, 0.56); 
  border-radius: 10px;
  transition: transform 0.3s ease-in-out; 
}

.formulario_container h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #B378FF;
}

.formulario_container button {
  background-color: #B378FF;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; 
}

.formulario_container button:hover {
  background-color: #8e44ad; 
  transition: background-color 0.3s ease-in-out; 
}

.formulario_header {
  display: flex;
  align-items: center;
}