
.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #0D0117;
  align-items: center;
}

.container_header {
  width: 80%;
}

.container_footer {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container_footer h4 {
  font-size: 18px;
  color: #ffffff;
}


.container_footer .linkespecial {
  color: #B378FF;
  text-decoration: none;

}

.container_header h2 {
  font-size: 30px;
  color: #ffffff;
}

.container_header h4 {
  font-size: 23px;
  color: #ffffff;
}

.container_header .textoespecial {
  color: #B378FF;
}


.formulario_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out; 
  gap:10px;
}

.formulario_container h3 {
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.formulario_container .textoespecial {
  font-weight: 600;
  color: #B378FF;
}

.formulario_formcontrol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario_container .formulario_input_label {
  text-align: left;
  color: white;
}

.formulario_container .formulario_formcontrol  .formulario_input {
  width: 80%;
  border-radius: 20px;
  padding: 5px;
  background-color: white;
}


.formulario_container button {
  background-color: #B378FF;
  color: white;
  width: 80%;
  padding: 5px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; 
}

.formulario_container button:hover {
  background-color: #8e44ad; 
  transition: background-color 0.3s ease-in-out; 
}

.formulario_header {
  display: flex;
  align-items: center;
}