.navBar {
    background-color: #0D0117  !important;
    padding: 20px;
    display: flex;
}


.navBar div {
    gap: 20px;
}

.navBar a:hover {
    color:#B378FF;
    background-color: transparent;
}

.navBar .itemNavBarEstilo {
    font-size: 20px;
}


.navBar .botaoEstilo {
    background-color: #B378FF;
    color:white;
    border: none;
    padding: 8px 22px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    border-radius: 15px;
}

.navBar .botaoEstilo:hover {
    background-color: white !important;
    color:#B378FF;
}

.item_logout  {
    background-color: white !important;

    color:#B378FF;

}

