.navBar {
    background-color: #0D0117;
    padding: 20px;
    display: flex;
}

.navBar div {
    gap: 20px;
}

.navBar a:hover {
    color:#B378FF;
    background-color: transparent;
}

.itemNavBarEstilo {
    font-size: 20px;
}


.botaoEstilo {
    background-color: #B378FF;
    color:white;
    border: none;
    height: 42px;
    width: 150px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 15px;
}

.botaoEstilo:hover {
    background-color: white;
    color:#B378FF;
}

.boxSwitch {
    min-height: 120px;
}

